<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangjitao.icodestore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycleviewTest.RecycleViewActivity" />
        <activity android:name=".drawableTest.DrawableTestActivity" />
        <activity android:name=".NotificationTest.NotificationTestActivity" />
        <activity android:name=".LocalPhotoExhibition.LocalPhotoAlbumActivity" />
        <activity android:name=".LocalPhotoExhibition.LocalPhotoDetailActivity" />
        <activity android:name=".FragmentUsage.FragmentUsageActivity" />
        <activity android:name=".FragmentUsage.Activity1" />
        <activity android:name=".FragmentUsage.Activity2" />
        <activity android:name=".FragmentUsage.Activity3" />
        <activity android:name=".UtilSample.BGLayoutActivity"></activity>
    </application>

</manifest>